*{
    background-color: #f2efee;

}
header h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    color: #181817;
}
nav a{
    font-family: 'Mulish', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #5f5955;
    text-align: left;
    padding-right: 0.2em;
}

p{
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    color: #5f5955;
    text-align: left;

}


footer ul{
    text-align: center;
    list-style-type: none;
    font-family: 'Mulish', sans-serif;
    color: #5f5955;
}

#icon{    
    padding-right: 1em;
}

img{
    width: 100%;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header{
    grid-column-end: span 12;
}

nav{
    grid-column-end: span 12;
}

footer{
    grid-column-end: span 12;
}

img{
    width: 100%;
}

span{
    grid-column-end: span 4;
}