*{
    background-color: #f2efee;

}
header h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    color: #181817;
}
nav a{
    font-family: 'Mulish', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #5f5955;
    text-align: left;
    padding-right: 0.2em;
}

.title{
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
    color: #5f5955;
    text-align: center;
}

.title h2{
    font-weight: 300;
}

p{
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    color: #5f5955;
    text-align: left;

}

footer ul{
    list-style: none;
    padding:0px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: #5f5955;
}

#icon{    
    padding-right: 1em;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header{
    grid-column-end: span 12;
}

nav{
    grid-column-end: span 12;
}

footer{
    grid-column-end: span 12;
}

img{
    width: 100%;
    height: 100%;
}

main{
    grid-column-end: span 12;
    margin: 4%;
    margin-bottom: 2%;
}

.info{
    text-align: center;
}

@media /*only screen and (min-width: 1025px) and */(max-width: 1200px){
    /* 1025- 1200px: desktops, large screens */
    .container{
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    header h1{
        font-size: 4.3em;
    }

    nav a{
        font-size: 1.6em;
    }
}

@media /*only screen and (min-width: 481px) and */(max-width: 768px) {
/* 481- 768px: ipads, tablets */
    .container{
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    header h1{
        font-size: 3.7em;
    }

    nav a{
        font-size: 1.3em;
    }
}

@media (max-width: 480px){ 
/* 320- 480px: mobile devices */
    .container{
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    nav a{
        font-size: 1.1em;
    }
}