*{
    background-color: #f7f4f1;
}
header h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    color: #181817;
}
nav a{
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    text-decoration: none;;
    color: #474644;
}

footer ul{
    text-align: center;
    list-style-type: none;
    font-family: 'Mulish', sans-serif;
    color: #474644;
}